<!DOCTYPE html>  
<html>  
<head>  
   <title>Login</title>  
   <link rel="stylesheet" href="/styles.css">  
</head>  
<body>  
   <div class="main-content">  
      <h1>Login</h1>  
      <% if (error) { %>  
        <p class="error-message"><%= error %></p>  
      <% } %>  
      <form action="/login" method="post">  
        <div class="form-input-container">  
           <label for="email">Email:</label>  
           <input type="email" id="email" name="email" required>  
        </div>  
        <div class="form-input-container">  
           <label for="password">Password:</label>  
           <input type="password" id="password" name="password" required>  
        </div>  
        <button type="submit">Login</button>  
      </form>  
   </div>  
</body>  
</html>
